<table id=[TABLEID] style="display:none" cellspacing="0" cellpadding="0" border=1>
  <tr>
    <td align="right"><img border="0" src="[tooltip_files]/t1.gif" /></td>
  </tr>
	<tr >
		<td>		
			<table width="450px" cellspacing="0" cellpadding="0" style="border:1;border-width2;border-color:#ED7C36" border=1 >
				<tr >
					<td align=left valign=bottom ><img src="i/tool/tb_l.gif"></img></td>
					<td bgcolor="#F9DD93"></td>
					<td  align="left" ><img src="i/tool/tb_r.gif"></img></td>
				</tr>
				<tr bgcolor="#F9DD93">
					<td colspan=3 align=center width="450px">
							<font face="arial" size="2" color="#63665B">&nbsp;[TEXT]</font>						
					</td>
				</tr>
				<tr>
					<td width="1%" align="left"><img src="i/tool/tb_l_b.gif"></img></td>
					<td width="98%" bgcolor="#F9DD93"></td>
					<td width="1%" align="left" ><img src="i/tool/tb_r_b.gif"></img></td>
				</tr>
			</table>
		</td>
	</tr>	
</table>
